@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/*
Barra Nav.
*/

img {
    width: 3.7%; margin-top: 15px; margin-left: 15px;
 }
     
     
 .insta {
    width: 2.3%; margin-right: 650px; margin-top: -75px;
 }
     
     
 .nav-link {
    font-family: 'Noto Sans', sans-serif; color: grey; text-decoration: none;
    margin-top: -23px; margin-left: 3px;
 }
     
     
 .nav-link1 {     
    font-family: 'Noto Sans', sans-serif; text-decoration: none; margin-left: 5px;
    color: black; margin-top: -15px; width: 135px;
 }
     
     
 .navbar-nav { 
    margin-left: 75px; margin-top: -30px; margin-bottom: -70px;
 }
     
     
 a {
    margin-bottom: 90px;
 }
 
 
 .collapse {
    margin-left: -2px;
 }


div img {
    width: 100%; margin-left: -2px; margin-top: -2px;
}


/*
Parrafos
*/

.act {
    background: none; color: black; margin-left: 493px; margin-top: -5px;
    font-size: 1.8rem; font-family: 'Noto Sans', sans-serif;
}


.peda {
    background-color: #0D6EFD; margin-left: 500px; margin-top: -45px;
    padding-left: 5px; height: 50px; width: 150px; padding-top: 10px;
    font-size: 1.7rem; font-family: 'Noto Sans', sans-serif;
}


p {
    text-align: left; margin-left: 500px; margin-right: 90px; font-family: 'Noto Sans', sans-serif; margin-top: -35px;
}


.dep {
    background: none; color: black; margin-left: 490px; font-size: 1.7rem;
}


.rec {
    background-color: #0D6EFD; margin-left: 500px; margin-top: -45px;
    padding-left: 5px; height: 50px; width: 145px; padding-top: 10px; font-size: 1.7rem;
}

.active {
    padding: 20px; border-radius: 5px;
}


/*
Carousel
*/

.senias-1 {
    width: 35%; margin-left: 420px;
}

.senias-2 {
    width: 30%; margin-left: 420px;
}

.senias-3 {
    width: 35%; margin-left: 420px;
}

.aprendiendo {
    width: 35%; margin-left: 420px;
}

.jugando-1 {
    width: 35%; margin-left: 420px;
}

.jugando-2 {
    width: 30%; margin-left: 420px;
}

.recreacion {
    width: 35%; margin-left: 420px;
}

/*
Footer
*/


footer {
    font-family: 'Noto Sans', sans-serif; width: 100%; background-color: #3c4146;
    margin-top: 20px; padding-top: 40px;
}


form {
    color: white; padding-bottom: 40px;
}


.form-control1 {
    width: 580px; height: 35px; margin-left: 695px;
    margin-bottom: -25px; border-radius: 5px; border: none;
}


.form-control2 {
    width: 580px; height: 35px; margin-left: 695px; margin-bottom: -25px;
    border-radius: 5px; border: none;
}


.form-control3 {
    width: 580px; height: 70px; margin-left: 695px;
    border-radius: 5px; border: none;
}


.row {
    margin-top: -265px; margin-right: 900px;
}


.form-label {
    margin-left: 695px; margin-bottom: -10px;
}


.contanos {
    margin-left: 695px; font-size: 0.9rem; color: #6D757D; margin-top: -20px;
}


ul {
    list-style: none; font-family: 'Noto Sans', sans-serif; color: white;
    margin-left: 48px; margin-top: -30px;
}


ul img {
    font-family: 'Noto Sans', sans-serif; background-color: white; width: 12%; margin-left: 1px;
}


h3 {
    font-family: 'Noto Sans', sans-serif; font-size: 1.4rem; background-color: #28a745;
    margin-left: 60px; margin-bottom: 40px; margin-right: 680px;
    padding-left: 10px; padding-top: 8px; padding-bottom: 8px; color: white;
}


::placeholder {
    font-family: 'Noto Sans', sans-serif; font-size: 1rem; padding-left: 10px;
}


button {
    font-family: 'Noto Sans', sans-serif; margin-left: 695px; margin-top: -2px;
    padding: 10px; font-size: 1rem; color: white;
    border: none; background-color: #0D6EFD; border-radius: 5px;
}